.slider-home-main,
.slider-showroom-main {
  position: relative;
  z-index: 1;
}

.slider-showroom-main {
  width: 940px;
  height: 460px;
}

.slider-showroom-main .swiper-slide {
  width: 940px;
  height: 460px;
}

.slider-showroom-main .swiper-slide img {
  width: 940px;
  height: 460px;
}

.slider-showroom-main .swiper-slide .showroom-link-wr {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.slider-showroom-main .swiper-slide .showroom-link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--black);
  background-color: #fff;
  padding: 8px 0 0 20px;
  border-top-left-radius: 10px;
}

.slider-showroom-main .swiper-slide .button-radius-svg {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  z-index: 10;
}

.slider-showroom-main .swiper-slide .button-radius-svg.tr-corner {
  top: -10px;
  right: 0;
}

.slider-showroom-main .swiper-slide .button-radius-svg.bl-corner {
  left: -10px;
  bottom: 0;
}

.slider-home-main__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slider-home-showroom__video {
  width: 940px;
  height: 460px;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -10;
}

.slider-home-main__content {
  max-width: 1440px;
  position: relative;
  z-index: 1;
  /* text-align: center; */
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 230px;
  height: 850px;
}

.slider-home-main .title {
  color: var(--white);
}

.slider-home-main .btns {
  font-size: 18px;
  gap: 15px;
}

.slider-home-main .btns a {
  background-color: var(--black-25);
}

.slider-home-main .btns a:hover {
  background-color: var(--black-75);
}

.slider-home-main .btns i {
  display: inline-block;
  -webkit-transform: translate(10px) rotate(-45deg);
  transform: translate(10px) rotate(-45deg);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.slider-home-main .btns:hover i {
  -webkit-transform: translate(10px) rotate(0deg);
  transform: translate(10px) rotate(0deg);
}

.slider-home-pagination {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px !important;
  width: 100%;
  padding: 15px 20px;
  gap: 10px;
  z-index: 10;
}

.slider-home-pagination.pagination-home-main {
  justify-content: center;
}

.slider-home-pagination.pagination-home-showroom {
  justify-content: left;
}

.slider-home-pagination .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background: var(--white);
  border: 3px solid var(--black-75);
  opacity: 1;
}

.slider-home-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 22px;
  height: 22px;
  background: var(--black);
  border: 3px solid var(--white);
}